<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TourInvest | Recuperar Contraseña</title>
  <link rel="icon" type="image/png" href="../assets/imgs/tourinvest.png">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="auth-wrapper">
    <div class="auth-card">
      <div class="auth-logo">
        <div><img class="logo-circle" src="../assets/imgs/tourinvest.png" alt="TourInvest"></div>
        <h1>Recuperar Contraseña</h1>
        <p>Te enviaremos un enlace para restablecer tu acceso</p>
      </div>

      <div id="mensaje-global" class="mensaje-global"></div>

      <form id="recoverForm" onsubmit="return solicitarRecuperacion(event)">
        <div class="field">
          <label for="correo">Correo electrónico</label>
          <input type="email" id="correo" name="correo" placeholder="usuario@correo.com" required>
        </div>
        <button type="submit" class="btn-primary">Enviar enlace</button>
      </form>

      <div class="auth-links">
        <button  type="submit" class="btn-primary"><a href="login.html">Volver a iniciar sesión</a></button>
        <br><br>
        <button  type="submit" class="btn-primary"><a href="../index.html">Volver al inicio</a></button>
        
      </div>
    </div>
  </div>
  <script src="../js/auth.js" defer></script>
</body>
</html>
